@model IEnumerable<Business.DanhMucTheLoai>
@{
    ViewBag.Title = "Genre";
    Layout = null;
}

@*<script type="text/javascript">
    $('#confirmDeleteModal').on('show.bs.modal', function (e) {
        var myGenreID = $(e.relatedTarget).data('data-genre-id');
        $(e.currentTarget).find('input[name="bookId"]').val(myGenreID);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>*@





<div class="btn-toolbar list-toolbar">
    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Thêm mới thể loại</button>

</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Tên thể loại</th>
            @*<th>Username</th>
                <th>Permission</th>*@
            <th style="width: 3.5em;"></th>
        </tr>
    </thead>
    <tbody>
     
            @foreach (Business.DanhMucTheLoai genre in Model)
            {
            <tr>
                @if (!genre.TenTheLoai.Equals("Khác"))
                {
                    <td>@genre.MaSo</td>
                    <td>@genre.TenTheLoai</td>

                    <td>
                        <a href="user.html"><i class="fa fa-pencil"></i></a>
                        <a href="#confirmDeleteModal"  data-toggle="modal" data-genre-id="@genre.MaSo"><i class="fa fa-trash-o"></i></a>
                    </td>
                }

            </tr>

            }



        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">THÊM MỚI THỂ LOẠI</h4>
                </div>

                @using (Html.BeginForm("CreateNewGenre", "AdminCategory", FormMethod.Get))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Thể loại:</label>
                            <input type="text" class="form-control" name="name">
                        </div>


                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>*@

                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary"><a href="#myModal" role="button" data-toggle="modal" name="codeFilm">Thêm mới</button>


                        @*<button type="button" class="btn btn-primary">@Html.ActionLink("Thêm mới", "CreateNewGenre", "AdminCategory")</button>*@
                    </div>
                }
            </div>
        </div>
    </div>


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">THÊM MỚI THỂ LOẠI</h4>
            </div>

           @* @using (Html.BeginForm("deleteGenre", "AdminCategory", FormMethod.Get))*@
            

                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>*@

                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    
                    <input type="text" name="bookId"  value="" />
                   @* <button type="submit" class="btn btn-primary" id="btn_Delete" value="">Thêm mới</button>*@


                    @*<button type="button" class="btn btn-primary">@Html.ActionLink("Thêm mới", "CreateNewGenre", "AdminCategory")</button>*@
                </div>
            
        </div>
    </div>
</div>



  