@model Turbo_Phim.Models.AccountViewModel

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = null;
}
<div class="register-form">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-user"></i></label>
            @Html.TextBoxFor(m => m.UserName, new { id = "username", @readonly="readonly" })         
        </div>
        <div class="row">
            <label id="icon" for="email"><i class="glyphicon-envelope"></i></label>
            @Html.TextBoxFor(m => m.Email, new { id = "email", @readonly = "readonly" })
        </div>
        
        <hr>
        <h4>Thông tin cá nhân </h4>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-user"></i></label>
            @Html.TextBoxFor(m => m.Name, new { id = "name", @placeholder = Model.Name })
        </div>
        <div class="row">
            <div class="gender">
                
                @*<input type="radio" value="None" id="male" name="gender" checked />*@
                @Html.RadioButton("gender", Model._gender, true, new { @Value = "None", id = "male" })
                <label for="male" class="radio" chec>Nam</label>
                @*<input type="radio" value="None" id="female" name="gender" />*@
                @Html.RadioButton("gender", Model._gender, false, new { @Value = "None", id = "female" })
                <label for="female" class="radio">Nữ</label>
            </div>
        </div>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-time"></i></label>
            @Html.TextBoxFor(m => m.Birthday, new { id = "name", @placeholder = Model.Birthday })
        </div>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-road"></i></label>
            @Html.TextBoxFor(m => m.Address, new { id = "name", @placeholder = Model.Address })
        </div>
        <div class="row">
            <input id="submit" class="btn btn-success" type="submit" value="Cập nhật" />
        </div>
    }
</div>