@model Turbo_Phim.Models.LoginViewModel

@{
    Layout = null;
}




<li>
    <div class="row">
        <div class="col-md-12">
           <div id="login-message"></div>
            <div class="social-buttons">
                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
            
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                    new { @class = "form", @role = "form", id = "login-nav", @accept_charset = "UTF-8" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Địa chỉ Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Địa chỉ Email", id = "InputEmail" })
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">Mật khẩu</label>

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", id = "InputPassword" })
                    <div class="help-block text-right"><a href="">Bạn quên mật khẩu ?</a></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe) Ghi nhớ tài khoản
                    </label>
                </div>
            }
        </div>

        <div class="bottom text-center">

            <button onclick="openRegisterDialog()">register</button>

            <script>
                function openRegisterDialog() {
                   
        $.ajax({
            url: '@Url.Action("Register", "Account")',
            contentType: 'application/html',
            success: function (content) {
                $('#dialogPlaceholder').html(content);
            },
            error: function (e) { alert("Failure!"); }
        });
    }
            </script>
          
   

        </div>
    </div>
</li>
