@model Turbo_Phim.Models.LoginViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div id="login-message"></div>
        @*<div class="social-buttons">
            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
        </div>*@

        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "dialogResult"
                            }, new { @class = "form", @role = "form", id = "login-nav", @accept_charset = "UTF-8", ReturnUrl = ViewBag.ReturnUrl}))
        {
            @Html.AntiForgeryToken()
            <div id="dialogResult" class="text-danger"></div> <br />
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Địa chỉ Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Địa chỉ Email", id = "InputEmail" })
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Mật khẩu</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", id = "InputPassword" })
                <div class="help-block text-right"><a href='@Url.Action("ForgotPassword", "Account")'>Bạn quên mật khẩu ?</a></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Ghi nhớ tài khoản
                </label>
            </div>
        }
    </div>

    <div class="bottom text-center">

        <button type="button" class="btn btn-info" onclick="openRegisterDialog()">Đăng ký</button>

        <script>
            
            $(document).ready(function () {
                $("#login-dropdown").addClass("open");
            });
            function openRegisterDialog() {

                $.ajax({
                    url: '@Url.Action("Register", "Account")',
                    contentType: 'application/html',
                    success: function (content) {
                        $('#dialogPlaceholder').html(content);
                    },
                    error: function (e) { alert("Failure!"); }
                });
            }
        </script>
    </div>
</div>

@section Script {
    @Scripts.Render("~/bundles/jqueryval")
}