@model IEnumerable<Turbo_Phim.Models.PhimViewModels>
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="reviews-section">

    <div class="review_div">
        @Html.Action("Genre", "Review")


        <div class="btn-group">
            <button type="button" class="btn btn-danger">Sắp xếp</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">


                <li>@Html.ActionLink("Tên phim", "ViewForGenre", new { strSort = "Name", genreID = ViewBag.genreID })</li>
                <li>@Html.ActionLink("Thể loại", "ViewForGenre", new { strSort = "Genre", genreID = ViewBag.genreID })</li>
                <li>@Html.ActionLink("Điểm đánh giá", "ViewForGenre", new { strSort = "Rank", genreID = ViewBag.genreID })</li>
                <li>@Html.ActionLink("Ngày phát hành", "ViewForGenre", new { strSort = "Date", genreID = ViewBag.genreID })</li>
                <li>@Html.ActionLink("Thời lượng", "ViewForGenre", new { strSort = "Duration", genreID = ViewBag.genreID })</li>



            </ul>
        </div>

    </div>


    <h3 class="head review_h3" @*style="text-align:center;margin-top:20px"*@>DANH SÁCH PHIM</h3>


    <div class="col-md-9 reviews-grids">


        @foreach (Turbo_Phim.Models.PhimViewModels p in Model)
        {

            TempData["genreID"] = ViewBag.genreID; //Biến giữ trạng thái là xem theo thể loại hay xem tất cả các phim

            TempData["strSort"] = p.strSort;
            TempData["sortDirection"] = p.isASC;


            <div class="review">
                <div class="movie-pic">
                    <img src="@p.HinhAnh" alt="" />
                </div>
                <div class="review-info">
                    <h2><b>@p.TenPhim</b> </h2>
                    @*@Html.ActionLink(p.TenPhim, "Index", "ReviewDetail",new {IDPhim = @p.MaSo}, new { @class = "span" })*@
                    <p class="dirctr"><a href="">Quốc gia @p.NuocSX, </a>Ngày phát hành @p.NgayPhatHanh.Value.ToString("dd/MM/yyy")</p>
                    <p class="ratingview">Đánh giá của trang:</p>
                    <p class="ratingview">
                        &nbsp;@p.DiemDanhGia / 5
                    </p>
                    <div class="clearfix"></div>
                    <p class="ratingview c-rating">Đánh giá trung bình của người xem:</p>

                    <p class="ratingview c-rating">
                        &nbsp; @p.DiemDanhGiaTrungBinh / 5 (@p.LuotDanhGia Lượt đánh giá)
                    </p>
                    <div class="clearfix"></div>
                    <div class="rating-movie">
                        @if (Request.IsAuthenticated)
                        {
                            if (p.getRating(User.Identity.Name, p.MaSo) > 0)
                            {
                                <input type="range" class="hidden" id="idbacking_@p.MaSo" value="@p.getRating(User.Identity.Name, p.MaSo)" step="1">
                                <div class="rateit" data-rateit-backingfld="#idbacking_@p.MaSo" data-rateit-resetable="false" data-rateit-step="1"
                                     data-rateit-min="1" data-rateit-max="10" data-rateit-readonly="true">
                                </div>
                                <span id="value5"></span>
                                <div id="hover5"></div>
                                <div class="IDPhim hidden" id="@p.MaSo"></div>
                            }
                            else
                            {

                                <input type="hidden" id="idbacking_@p.MaSo" value="@p.DiemDanhGiaTrungBinh" step="1">
                                <div class="rateit" data-rateit-backingfld="#idbacking_@p.MaSo" data-rateit-resetable="false" data-rateit-step="1"
                                     data-rateit-min="1" data-rateit-max="10">
                                </div>
                                <span id="value5"></span>
                                <div id="hover5"></div>
                                <div class="hidden" id="IDPhim"> @p.MaSo</div>
                            }
                        }
                        else
                        {
                            <input type="hidden" id="idbacking_@p.MaSo" value="@p.DiemDanhGiaTrungBinh" step="1">
                            <div class="rateit" data-rateit-backingfld="#idbacking_@p.MaSo" data-rateit-resetable="false" data-rateit-step="1"
                                 data-rateit-min="1" data-rateit-max="10">
                            </div>
                            <span id="value5"></span>
                            <div id="hover5"></div>
                        }






                    </div>
                    <div class="yrw">

                        <div class="rtm text-center">
                            <a class="button play-icon" href='@Url.Action("Index", "ReviewDetail", new { IDPhim = @p.MaSo })'>Xem review phim</a>
                        </div>
                        <div class="wt text-center">
                            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Xem trailer</a>
                        </div>


                        <div id="small-dialog" class="mfp-hide">
                            <iframe src="@p.URL_Trailer" frameborder="0" allowfullscreen></iframe>
                        </div>





                        <div class="clearfix"></div>
                    </div>
                    <p class="info">Diễn viên:&nbsp; @p.DienVien</p>
                    <p class="info">Đạo diễn: &nbsp; @p.DaoDien</p>
                    <p class="info">Thể loại:&nbsp; @p.TheLoai</p>
                    <p class="info">Thời lượng:&nbsp; @p.ThoiLuong Phút</p>

                    @if (Request.IsAuthenticated)
                    {
                        if (p.IsLikedByUser(User.Identity.Name, p.MaSo))
                        {
                            <button class="like btn-success" id=@p.MaSo> Đã thêm vào danh sách yêu thích </button>
                        }

                        else
                        {
                            <button class="like" id=@p.MaSo> Thêm vào danh sách yêu thích </button>
                        }

                    }
                    else
                    {
                        <button class="like liked" id=@p.MaSo> Thêm vào danh sách yêu thích </button>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        }
        <div>


            <script>
                    @*$(".like").ready(function () {
                        var btn = $(this);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("IsLiked", "Review")',
                            data: { MS_Phim: id },
                            success: function (data) {
                                btn.addClass(data);
                            },
                            error: function (result) {
                                alert(result);
                            }

                        });
                    });*@


                $(document).ready(function () {


                    $(".like").click(function () {
                        if ($(this).hasClass("btn btn-success"))
                            return;
                        var btn = $(this);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Insert_Film_Like", "Review")',
                            data: { MS_Phim: btn.attr('id') },
                            success: function (data) {
                                if (data == "success") {
                                    btn.addClass("btn btn-success");
                                    btn.text("Đã thêm vào danh sách phim yêu thích");
                                }


                            },
                            error: function (result) {
                                alert(result);
                            }

                        });


                    });
                });
            </script>





            @if (Model.Count() == 0)
            {
                <h3>Không có bộ phim nào được tìm thấy ...</h3>
            }
            else
            {
                <ul class="pagination">


                    <p>Trang @TempData["currentPage"] / @ViewBag.maxPage</p>
                    <li>@Html.ActionLink("«", (@ViewBag.ViewForGenre == true) ? "ViewForGenre" : "Index", "Review", new { page = ((int)TempData["currentPage"] > 1) ? (int)(TempData["currentPage"]) - 1 : 1, genreID = @ViewBag.genreID }, null)</li>

                    @{
                int startIndexPage = ((int)TempData["currentPage"] / (int)ViewBag.maxIndexPage) * (int)ViewBag.maxIndexPage + 1;
                int endIndexPage = startIndexPage + (int)ViewBag.maxIndexPage;
                for (int i = startIndexPage; i < endIndexPage; i++)
                {
                    if (i > (int)ViewBag.maxPage)
                    {
                        break;
                    }

                    if (i == (int)TempData["currentPage"])
                    {
                        <li class="active">@Html.ActionLink(i.ToString(), (@ViewBag.ViewForGenre == true) ? "ViewForGenre" : "Index", "Review", new { page = @i, genreID = @ViewBag.genreID }, null)</li>
                    }
                    else
                    {

                        <li>@Html.ActionLink(i.ToString(), (@ViewBag.ViewForGenre == true) ? "ViewForGenre" : "Index", "Review", new { page = @i, genreID = @ViewBag.genreID }, null)</li>
                    }

                }

                    }


                    <li>@Html.ActionLink("»", (@ViewBag.ViewForGenre == true) ? "ViewForGenre" : "Index", "Review", new { page = ((int)(TempData["currentPage"]) >= (int)ViewBag.maxPage) ? (int)ViewBag.maxPage : (int)(TempData["currentPage"]) + 1, genreID = @ViewBag.genreID }, null)</li>

                </ul>
            }



        </div>





    </div>



    <script type="text/javascript">

        $('.rateit').on('beforerated', function (e, value) {
            var ri = $(this);
            e.preventDefault();
            var idPhim = ri.siblings('#IDPhim').text();
            $.ajax({
                url: '@Url.Action("Insert_Film_Rate", "Review")',
                data: { MS_Phim: idPhim, rating: value },
                type: 'POST',
                success: function (result) {
                    if (result == "success") {
                        ri.rateit('value', value);
                        ri.rateit('readonly', true);
                    }
                    else {
                        alert("Đánh giá không thành công!");
                    }
                },
                error: function (result) {
                    alert("Đã có lỗi xảy ra!\nVui lòng thử lại sau! ");
                }

            });
            var arr = ["Dở tệ", "Dở", "Không dở", "Không hay", "Bình thường", "Xem được", "Có vẻ hay", "Hay", "Rất hay", "Tuyệt hay"];
            $(this).siblings('#value5').text(arr[value - 1]);
        });


        $(".rateit").bind('over', function (event, value) {
            var arr = ["Dở tệ", "Dở", "Không dở", "Không hay", "Bình thường", "Xem được", "Có vẻ hay", "Hay", "Rất hay", "Tuyệt hay"];
            $(this).attr("title", arr[value - 1]);
            $(this).siblings("#hover5").text(arr[value - 1]);

        });

        $(".rateit").bind('mouseleave', function () {
            $(this).siblings("#hover5").text("");
        });
    </script>









    <div class="col-md-3 side-bar">
        <div class="featured">
            <h3>Các bài review nổi bật</h3>
            <ul>
                <li>
                    <a href="single.html"><img src="~/Content/images/f1.jpg" alt="" /></a>
                    <p>Plaguers - Review</p>
                </li>
                <li>
                    <a href="single.html"><img src="~/Content/images/f2.jpg" alt="" /></a>
                    <p>Priest - Review</p>
                </li>
                <li>
                    <a href="single.html"><img src="~/Content/images/f3.jpg" alt="" /></a>
                    <p>Avatar - Review</p>
                </li>
                <li>
                    <a href="single.html"><img src="~/Content/images/f4.jpg" alt="" /></a>
                    <p>Kỷ nguyên khủng long - Review</p>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>

        <div class="entertainment">
            <h3>Các bộ phim nổi bật</h3>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f6.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer</a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f5.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f3.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f4.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f2.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f1.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="might">
            <h4>Có thể bạn sẽ thích</h4>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi1.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi2.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi3.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>



<div class="review-slider">
    <ul id="flexiselDemo1">
        @foreach (Turbo_Phim.Models.PhimViewModels p in Model)
        {
            <li><img src="@p.HinhAnh" alt="" /></li>
        }


    </ul>
    <script type="text/javascript">
        $(window).load(function () {

            $("#flexiselDemo1").flexisel({
                visibleItems: 8,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: false,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 2
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>
</div>