@model IEnumerable<Turbo_Phim.Models.TopReviewModels>
@{
    ViewBag.Title = "MyListReview";
}

<div class="col-md-9 reviews-grids">

   @foreach (Turbo_Phim.Models.TopReviewModels p in Model)
   {



        <div class="review">
            
            <div class="review-info">

                @Html.ActionLink("Tiêu đề: " + p.title, "Index", "ReviewDetail", new { IDPhim = @p.MS_Phim, IDReview = p.MS_ReView }, new { @class = "span" })
                <p class="dirctr">Ngày đăng: @p.postDate.ToString("dd/MM/yyyy hh:mm:ss")</p>
                <div class="clearfix"></div>
                <div class="yrw">
 
                
                    <div class="wt text-center">
                        <a class="button play-icon" href="#">Xóa bài nhận xét</a>
                    </div>
                    <div class="rtm text-center">
                        <a class="button play-icon" href="@Url.Action("EditPost", "ReviewDetail", new { IDReview = @p.MS_ReView })">Edit bài nhận xét</a>
                    </div>





                    <div class="clearfix"></div>
                </div>
             
              
            </div>
            <div class="clearfix"></div>
        </div>
   }
</div>



