@model IEnumerable<Turbo_Phim.Models.PhimViewModels>
@{
    ViewBag.Title = "Videos";
}

<div class="right-content">
    <div class="right-content-heading">
        <div class="right-content-heading-left">
            <h3 class="head">Những bộ phim mới nhất</h3>
        </div>
    </div>
    <div class="content-grids">
@foreach (Turbo_Phim.Models.PhimViewModels p in Model)
            {
        <div class="content-grid">
            <a href='@Url.Action("Index", "ReviewDetail", new { IDPhim = @p.MaSo })'><img class="createImage" src="@p.HinhAnh" title="allbum-name" </a>
            @{
                if (@p.TenPhim.Length > 30)
                {
                    <h3>@p.TenPhim.Substring(0, 30) ...</h3>
                }
                else
                {
                    <h3>@p.TenPhim</h3>
                }
            }
          
            @*<ul>
                <li><a href="#"><img src="~/Content/images/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/Content/images/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/Content/images/link.png" title="image-name" /></a></li>
            </ul>*@
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Xem trailer</a>
        </div>
        <div id="small-dialog" class="mfp-hide">       
            <iframe src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
        </div>
 
            }
        <div class="clearfix"> </div>
    
      
        <!---start-pagenation----->
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>



        <div class="clearfix"> </div>
        <!---End-pagenation----->
    </div>
</div>