@model PagedList.IPagedList<Turbo_Phim.Models.CommentViewModels>
@using PagedList.Mvc
@{
    ViewBag.Title = "CommentsOfTopReview";
    Layout = null;
    TempData["IDPhim"] = ViewBag.IDPhim;
    TempData["IDReview"] = ViewBag.IDReview;
}

<script type="text/javascript">

    $(document).ready(function () {


        $("#btnSubmitComment").click(function () {
            var IDPost = $("#IDPost").val();
            var Content = $("#CommentContent").val();

            $.ajax({
                type: "get",
                url: '@Url.Action("AddComment", "ReviewDetail")',
                data: "CommentContent=" + Content + "&IDPost=" + IDPost,
                success: function (data) {                  

                    $("#update_comment").html(data);


                },
                error: function (data) {

                  //  alert("failed Uy");
                }


            });

        });
    });

</script>

<div id="update_comment">

    <div class="Trả lời-section">
        <br />
        <p>Để lại bình luận</p>
        <br />
        <div class="blog-form">

            <textarea class="form-control" rows="10" placeholder="Nội dung" id="CommentContent"></textarea>
            <input id="btnSubmitComment" type="submit" class="btn btn-info" value="Đăng bình luận">

        </div>
    </div>
    <br />
    <div class="comments-section">
        <div class="comments-section-head" id="commentssection">
            <h2>Ý kiến người xem</h2>
            <div class="clearfix"></div>
        </div>
        <br />
        @foreach (Turbo_Phim.Models.CommentViewModels p in Model)
        {
            <div class="comments-section-grids">
                <div class="comments-section-grid">
                    <div class="col-md-2 comments-section-grid-image">
                        <img src="@p.url_Avatar" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-10 comments-section-grid-text">
                        <h4>@p.fullName</h4>
                        <label>@p.datePost.ToString("dd/MM/yyyy hh:mm:ss")</label>
                        <p>@p.content</p>

                    </div>

                </div>
            </div>
    <div class="clearfix"></div>
        }
    </div>

    <div class="col-md-12">
        <hr />
        <div class="col-md-5">

            <span>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong số @Model.PageCount trang</span>

            @Html.PagedListPager(Model, page => Url.Action("CommentsOfTopReview",
                 new { page, IDPhim = ViewBag.IDPhim, IDReview = ViewBag.IDReview }),
                 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "update_comment" }))
        </div>
    </div>

</div>
<textarea id="IDPost" class="hidden">@TempData["IDPost"]</textarea>


