@model Turbo_Phim.Models.TopReviewModels
@{
    ViewBag.Title = "TopReview";
    Layout = null;
}

<div class="best-review">
   
    @if (@Model == null)
    {
        <h4>Bài viết hay nhất:</h4>
        <h1> Hiện chưa có bài đánh giá nào</h1>
    }
    else
    {
        <h1>@Model.title</h1>
        <h5>Bài viết hay nhất được đăng bởi @Model.UserName lúc @Model.postDate:</h5>
        <h5>Tổng số lượt bình chọn @Model.totalRank:</h5>
        
        @Html.Raw(@Model.content)
    }
   

</div>
