@model Turbo_Phim.Models.TopReviewModels
@{
    ViewBag.Title = "TopReview";
    Layout = null;
}

<div class="best-review">
   
    @if (@Model == null)
    {
        <h1>Bài viết hay nhất:</h1>
    <br />
    <h3 class="PostContent"><b><i>Hiện chưa có bài đánh giá nào</i></b></h3>
    }
    else
    {
        <h1>Bài viết hay nhất: @Model.title</h1>
        <br/>
        <h3 class="PostContent"><b><i>Được đăng bởi @Model.UserName lúc @Model.postDate</i></b></h3>
    <br />
    <h3 class="PostContent"><b><i>Tổng số lượt bình chọn @Model.totalRank</i></b></h3>
    <br />

        @Html.Raw("<div class='postReivew'>" + @Model.content + "</div>")
    }
   

</div>
