<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Turbo Phim</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/modernizr")

    
</head>
<body class="theme-blue">
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    @RenderPage("~/Views/Shared/_Admin_Header.cshtml")

    @RenderPage("~/Views/Shared/_Admin_NavigationMenu.cshtml")

    @RenderBody()


    @RenderSection("scripts", required: false)
    
</body>
</html>

