@{
    Layout = null;
}

<div class="sidebar-nav">
    <ul>
        <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
        <li>
            <ul class="dashboard-menu nav nav-list collapse in">
                <li><a href='@Url.Action("Index", "AdminMain")'><span class="fa fa-caret-right"></span> Main</a></li>
                <li><a href='@Url.Action("Index", "UsersAdmin")'><span class="fa fa-caret-right"></span> Tài khoản</a></li>
                <li><a href='@Url.Action("Index", "RolesAdmin")'><span class="fa fa-caret-right"></span> Roles</a></li>
                <li><a href='@Url.Action("Index", "AdminMovies")'><span class="fa fa-caret-right"></span> Quản lý danh sách phim</a></li>
                <li><a href='@Url.Action("Index", "AdminCategory")'><span class="fa fa-caret-right"></span> Thể loại - nước sản xuất</a></li>
                <li><a href='@Url.Action("Index", "AdminReviewPost")'><span class="fa fa-caret-right"></span> Quản lý các bài đăng</a></li>
               
            </ul>
        </li>
    </ul>
</div>
