@{
    Layout = null;
}

<div class="sidebar-nav">
    <ul>
        <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
        <li>
            <ul class="dashboard-menu nav nav-list collapse in">
                <li><a href='@Url.Action("Index", "AdminMain")'><span class="fa fa-caret-right"></span> Main</a></li>
                <li><a href='@Url.Action("Index", "AdminUsers")'><span class="fa fa-caret-right"></span> Users</a></li>
                <li><a href='@Url.Action("Index", "RolesAdmin")'><span class="fa fa-caret-right"></span> Roles</a></li>
                <li><a href='@Url.Action("Index", "AdminMovies")'><span class="fa fa-caret-right"></span> Movies</a></li>
                <li><a href='@Url.Action("Index", "AdminCategory")'><span class="fa fa-caret-right"></span> Categories</a></li>
               
            </ul>
        </li>
    </ul>
</div>
