
<div class="top-header">
    <div class="logo">
        <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>
        <p>TURBO PHIM</p>
    </div>
    <div class="user">
        <a href="#" data-toggle="modal" data-target="#register">
            <span class="glyphicon glyphicon-registration-mark padding-right-small" style="position:relative;top: 3px;"></span>
            Đăng ký
        </a>
    </div>
    <div class="user">
        <a href="#" data-toggle="modal" data-target="#editaccount">
            <span class="glyphicon glyphicon-edit padding-right-small" style="position:relative;top: 3px;"></span>
            Hiệu chỉnh TK
        </a>
    </div>
    <div class="user">
        <a href='@Url.Action("Index", "AdminMain")'>
            <span class="glyphicon glyphicon-log-in padding-right-small" style="position:relative;top: 3px;"></span>
            Đăng nhập
        </a>
    </div>
    <div class="user search-advance padding-right-small">
        <button class="btn btn-primary " data-toggle="modal" data-target="#exampleModal"><i class="fa"></i> Tìm nâng cao</button>
    </div>
    <div class="search">
            @using (Html.BeginForm("SimpleSearch", "Search", FormMethod.Get))
            {
                <input type="text" placeholder="Search.." name="filmName" />
                <input type="submit" value="">
            }
        </div>

       

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">TÌM KIẾM NÂNG CAO</h4>
                    </div>

                    @using (Html.BeginForm("AdvanceSearch", "Search", FormMethod.Get))
                    {
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Diễn viên:</label>
                                <input type="text" class="form-control" name="actor">

                                <label for="recipient-name" class="control-label">Đạo diễn:</label>
                                <input type="text" class="form-control" name="directer">             

                                @Html.Action("Country", "Home")
                                @Html.Action("Genre","Home")
  

                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    }
                </div>
            </div>
        </div>







    <div class="clearfix"></div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="register">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Đăng ký tài khoản</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Register", "Account")
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="editaccount">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chỉnh sửa tài khoản</h4>
            </div>
            <div class="modal-body">
                @Html.Action("EditAccount", "Account")
            </div>

        </div>
    </div>
</div>