
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>@User.Identity.GetUserName()</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>                      
                        <a href="#" onclick="openProfileDialog()">Thông tin cá nhân</a>
                    </li>
                    <li>
                       <a href="#" onclick="openChangePasswordDialog()">Thay đổi mật khẩu</a>                        
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Administrator"))
                    {
                        <li><a href='@Url.Action("Index", "Home", new { homepage=false})'>Trang admin</a></li>
                    }                    
                    <li>
                        @Html.ActionLink("Danh sách bài nhận xét", "MyListReview", "Manage")
                    </li>

                    <li>
                        @Html.ActionLink("Danh mục phim yêu thích", "MyListFilmLike", "Manage")
                    </li>

                    <li>
                        @Html.ActionLink("Nhật ký hoạt động", "MyActivitiesLog", "Manage")
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>

                </ul>
            </li>                     
        </ul>
    <script>
        function openChangePasswordDialog() {

            $.ajax({
                url: '@Url.Action("ChangePassword", "Manage")',
                contentType: 'application/html',
                data: { returnurl: window.location.href },
                success: function (content) {
                    $('#dialogPlaceholder').html(content);
                },
                error: function (e) { alert("Failure!"); }
            });
        }
        function openProfileDialog() {

            $.ajax({
                url: '@Url.Action("UpdateProfile", "Manage")',
                contentType: 'application/html',
                data: { returnurl: window.location.href },
                success: function (content) {
                    $('#dialogPlaceholder').html(content);
                },
                error: function (e) { alert("Failure!"); }
            });
        }
    </script>
    }
}
else
{

    <li class="dropdown" id="login-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="openLoginDialog()"><b>Đăng nhập</b> <span class="caret"></span></a>
        <ul id="login-dp" class="dropdown-menu  dropdown-menu-right">
           <li id="login-body"></li>
        </ul>
        <script>

    function openLoginDialog(t) {
        window.scroll(0, 0);
        $.ajax({
            url: '@Url.Action("Login", "Account")',
            contentType: 'application/html',
            data: { returnurl: window.location.href },
            success: function (content) {
                $('#login-body').html(content);
                if (t != null)
                    $("#dialogResult").html("Vui lòng đăng nhập!");
            },
            error: function (e) { alert("Failure!"); }
        });
    }

    
        </script>

    </li>

}


@if ((Session["OpenAuthorizationPopup"] ?? "false") == "true")
{
    Session["OpenAuthorizationPopup"] = "false";
    <script>
        openLoginDialog();
    </script>
}




