
<div class="menu">
    <ul>
        <li>
            <a href='@Url.Action("Index", "Home")'  class='@ViewBag.HomeStatus'>
                <i class="home"></i>
            </a>      
        </li>
        <li>       
            <a href='@Url.Action("Index", "Video")' class=@ViewBag.VideoStatus>
                <div class="video"><i class="videos"></i><i class="videos1"></i></div>
            </a>
        </li>
        <li>      
            <a href='@Url.Action("Index", "Review")' class='@ViewBag.ReviewStatus'>
                <div class="cat"><i class="watching"></i><i class="watching1"></i></div>
            </a>
        </li>
        <li>       
            <a href='@Url.Action("Index", "Contact")' class=@ViewBag.ContactStatus>
                <div class="cnt"><i class="contact"></i><i class="contact1"></i></div>
            </a>
        </li>
    </ul>
</div>
