@model Turbo_Phim.Models.AccountViewModel

@{
    Layout = null;
    
}



<script type="text/javascript">
    $(function () {
        $(document).tooltip({
            items: ".input-validation-error",
            content: function () {
                return $(this).attr('data-val-required');
            }
        });
    });
</script>
<div class="register-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-user"></i></label>
            @Html.TextBoxFor(m => m.UserName, new { id = "username", @placeholder = ModelMetadata.FromLambdaExpression(m => m.UserName, ViewData).DisplayName })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="row">
            <label id="icon" for="email"><i class="glyphicon-envelope"></i></label>
            @Html.TextBoxFor(m => m.Email, new { id = "email", @placeholder = ModelMetadata.FromLambdaExpression(m => m.Email, ViewData).DisplayName })
        </div>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-lock"></i></label>
            @Html.PasswordFor(m => m.Password, new { id = "password", @placeholder = ModelMetadata.FromLambdaExpression(m => m.Password, ViewData).DisplayName })
        </div>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-lock"></i></label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { id = "cf-pass", @placeholder = ModelMetadata.FromLambdaExpression(m => m.ConfirmPassword, ViewData).DisplayName })
        </div>
        <hr>
        <h4>Thông tin cá nhân </h4>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-user"></i></label>
            @Html.TextBoxFor(m => m.Name, new { id = "name", @placeholder = ModelMetadata.FromLambdaExpression(m => m.Name, ViewData).DisplayName })
        </div>
        <div class="row">
            <div class="gender">
        
                @Html.RadioButton("gender", Model._gender, true, new { @Value = "None", id = "male" })
                <label for="male" class="radio" chec>Nam</label>
       
                @Html.RadioButton("gender", Model._gender, false, new { @Value = "None", id = "female" })
                <label for="female" class="radio">Nữ</label>
            </div>
        </div>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-time"></i></label>
            @Html.TextBoxFor(m => m.Birthday, new { id = "name", @placeholder = ModelMetadata.FromLambdaExpression(m => m.Birthday, ViewData).DisplayName })
        </div>
        <div class="row">
            <label id="icon" for="name"><i class="glyphicon-road"></i></label>
            @Html.TextBoxFor(m => m.Address, new { id = "name", @placeholder = ModelMetadata.FromLambdaExpression(m => m.Address, ViewData).DisplayName })
        </div>
        <div class="row">
            <input id="submit" class="btn btn-success" type="submit" value="Đăng ký" />
        </div>
    }
</div>