@model Turbo_Phim.Models.PhimViewModels
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>



<div class="content">
    <div class="header-admin">
        <h1 class="page-title">Chỉnh sửa thông tin phim</h1>
        @*<ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li><a href="users.html">Bảng danh mục</a> </li>
        </ul>*@
    </div>
    <div class="main-content">

        <div class="main-content">
            @using (Html.BeginForm("EditFilm", "AdminMovies", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">

                          
                            <img id="blah" class="createImage" src="@Model.HinhAnh" alt="" />
                           @{
                                 TempData["currentAvatar"] = Model.HinhAnh;
                               }

                            <input type='file' name="file" id="imgInp" src="@Model.HinhAnh" />





                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2">

                            <div class="ratingview">@Html.DisplayNameFor(model => model.TenPhim):&nbsp; </div>

                            <br />

                            <div class="ratingview">@Html.DisplayNameFor(model => model.DiemDanhGia):</div>
                            <br />

                            <div class="ratingview">@Html.DisplayNameFor(model => model.DienVien):&nbsp; </div>
                            <br />

                            <div class="ratingview">@Html.DisplayNameFor(model => model.DaoDien): &nbsp; </div>
                            <br />
                            <div class="ratingview">@Html.DisplayNameFor(model => model.ThoiLuong):&nbsp; </div>
                            <br />

                            <div class="ratingview">@Html.DisplayNameFor(model => model.NgayPhatHanh):&nbsp; </div>
                            <br />
                            <div class="ratingview">@Html.DisplayNameFor(model => model.URL_Trailer):&nbsp; </div>
                            <br />
                            <div class="ratingview">@Html.DisplayNameFor(model => model.TheLoai):&nbsp; </div>
                            <br />
                            <div class="ratingview">@Html.DisplayNameFor(model => model.NuocSX):&nbsp; </div>



                        </div>


                        <div class="col-md-5">
                            <div>
                                @Html.TextBoxFor(m => m.TenPhim, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(m => m.TenPhim)*@
                            </div>

                            @*<input id="TenPhim" name="TenPhim" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.TenPhim)">*@



                            <div class="clearfix"></div>

                            @{
                List<SelectListItem> listRank = new List<SelectListItem>();
                for (float i = 0; i <= 10; i++)
                {

                    SelectListItem temp = new SelectListItem();
                    temp.Value = i.ToString();
                    temp.Text = i.ToString();
                    listRank.Add(temp);
                }
                @Html.DropDownListFor(m => m.DiemDanhGia, listRank, "-Điểm đánh giá-", new { @class = "form-control my-form-control" })
                                @*@Html.ValidationMessageFor(m => m.DiemDanhGia)*@
                            }






                            @Html.TextBoxFor(m => m.DienVien, new { @class = "form-control my-form-control" })
                            @* @Html.ValidationMessageFor(m => m.DienVien)*@
                            @* <input type="text" class="field my-form-control" placeholder="@Html.DisplayNameFor(model => model.DienVien)" name="actor">*@


                            @Html.TextBoxFor(m => m.DaoDien, new { @class = "form-control my-form-control" })
                            @* @Html.ValidationMessageFor(m => m.DaoDien)*@
                            @* <input type="text" class="form-control my-form-control" placeholder="@Html.DisplayNameFor(model => model.DaoDien)" name="director">*@




                            @Html.DropDownListFor(m => m.ThoiLuong, new List<SelectListItem> {
        new SelectListItem {Text = "45 phút", Value ="45",},
         new SelectListItem {Text = "90 phút", Value ="90"},
         new SelectListItem {Text = "120 phút", Value ="120"},
         new SelectListItem {Text = "150 phút", Value ="150"},
         new SelectListItem {Text = "180 phút", Value ="180"}

       }, "-Thời lượng-", new { @class = "form-control my-form-control" })


                            @*@Html.TextBoxFor(m => m.NgayPhatHanh, new { id = "datepicker", @class = "form-control my-form-control", @Value = @System.DateTime.Now.ToShortDateString() })*@
                            @* @Html.ValidationMessageFor(m => m.NgayPhatHanh)*@
                            <input type="text" class="form-control my-form-control" placeholder="@Html.DisplayNameFor(model => model.NgayPhatHanh)" name="reissue" id="datepicker" value="@System.DateTime.Now.ToString("MM/dd/yyyy")">


                            @Html.TextBoxFor(m => m.URL_Trailer, new { @class = "form-control my-form-control" })
                            @*  @Html.ValidationMessageFor(m => m.URL_Trailer)*@

                            @*<input type="text" class="form-control my-form-control" placeholder="@Html.DisplayNameFor(model => model.URL_Trailer)" name="trailer">*@


                            @Html.Action("Genre", "AdminMovies", new { value = @Model.MS_TheLoai })


                            @Html.Action("Country", "AdminMovies", new { value = @Model.MS_NuocSX})

                            @Html.ValidationSummary(false)



                        </div>

                    </div>
                    <div></div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="clearfix"></div>
                            <textarea class="form-control" rows="10" placeholder="Nội dung phim" name="content">@Model.NoiDung</textarea>
                        </div>


                    </div>


                    <button class="btn-primary" type="submit" value="@Model.MaSo" name="codeFilm">Cập nhật</button>



                </div>
            }
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



