@model IEnumerable<Turbo_Phim.Models.PhimViewModels>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}

<div class="content">
    <div class="header-admin">
        <h1 class="page-title">Movies</h1>
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li><a href="users.html">Movies</a> </li>
        </ul>
    </div>
    <div class="main-content">

        <div class="main-content">

            <div class="btn-toolbar list-toolbar">

                <div class="btn btn-primary"> <i class="fa fa-plus"></i> @Html.ActionLink("Thêm phim mới", "createNewFilm", "AdminMovies") </div> 

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MaSo)</th>
                        <th>@Html.ActionLink("Tên phim", "SortByName", "AdminMovies")</th>
                        <th>@Html.ActionLink("Điểm", "SortByRank", "AdminMovies")</th>
                        <th>@Html.ActionLink("Thể loại", "SortByGenre", "AdminMovies")</th>
                        <th>@Html.ActionLink("Thời lượng", "SortByDuration", "AdminMovies")</th>
                        <th>@Html.DisplayNameFor(model => model.DienVien)</th>
                        <th>@Html.DisplayNameFor(model => model.DaoDien)</th>
                        <th>@Html.DisplayNameFor(model => model.NuocSX)</th>
                        <th>@Html.DisplayNameFor(model => model.HinhAnh)</th>
                        <th>@Html.ActionLink("Ngày phát hành", "SortByDate", "AdminMovies")</th>
                        <th style="width: 3.5em;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Turbo_Phim.Models.PhimViewModels p in Model)
                    {
                        TempData["strSort"] = p.strSort;
                        TempData["indexPage"] = p.currentPage;
                        TempData["isASC"] = p.isASC;
                        <tr>
                            <td>@p.MaSo</td>
                            <td>@p.TenPhim</td>
           
                            <td>@p.DiemDanhGia</td>
                            <td>@p.TheLoai</td>
                            <td>@p.ThoiLuong</td>
                            <td>@p.DienVien</td>
                            <td>@p.DaoDien</td>
                            <td>@p.NuocSX</td>
                            <td><img class="ImageFilmAdmin" src="@p.HinhAnh" alt="" /></td>
                            <td>@p.NgayPhatHanh.Value.ToShortDateString()</td>

                            <td>
                                @*<a href="user.html"><i class="fa fa-pencil"></i></a>
                                    <a href="#myModal" role="button" data-toggle="modal" name="codeFilm"><i class="fa fa-trash-o"></i></a>*@
                                @using (Html.BeginForm("Edit", "AdminMovies", FormMethod.Get))
                                {
                                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="codeFilm" value="@p.MaSo"><a href="#myModal" role="button" data-toggle="modal" name="codeFilm"><i class="fa fa-pencil"></i></button>
                                  

                                }
                                @using (Html.BeginForm("Delete", "AdminMovies", FormMethod.Get))
                                {
                                    
                                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="codeFilm" value="@p.MaSo"><a href="#myModal" role="button" data-toggle="modal" name="codeFilm"><i class="fa fa-trash-o"></i></button>

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Trang @TempData["currentPage"] / @ViewBag.maxPage</h3>
            <ul class="pagination">

                <li>@Html.ActionLink("«", "Index", "AdminMovies", new { page = ((int)TempData["currentPage"] > 1)  ? (int)(TempData["currentPage"]) - 1 : 1 }, null)</li>

                @{
                    int startIndexPage = ((int)TempData["currentPage"] / (int)ViewBag.maxIndexPage) * (int)ViewBag.maxIndexPage + 1;
                    int endIndexPage = startIndexPage + (int)ViewBag.maxIndexPage;
                    for (int i = startIndexPage; i < endIndexPage; i++)
                    {
                        if (i > (int)ViewBag.maxPage)
                    {
                        break;
                    }
                    <li>@Html.ActionLink(i.ToString(), "Index", "AdminMovies", new { page = @i }, null)</li>
                    }
                    
                }

 
                <li>@Html.ActionLink("»", "Index", "AdminMovies", new { page = ((int)(TempData["currentPage"]) >= (int)ViewBag.maxPage) ? (int)ViewBag.maxPage : (int)(TempData["currentPage"]) + 1 }, null)</li>

            </ul>
            <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Delete Confirmation</h3>
                        </div>
                        <div class="modal-body">
                            <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
                        </div>
                        <div class="modal-footer">


                            @*@using (Html.BeginForm("Index", "AdminMovies", FormMethod.Get))*@

                            @*  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>*@
                            @*<input class="btn btn-danger" type="submit" value="Xóa" />*@



                            @* <button class="btn btn-danger" data-dismiss="modal">@Html.ActionLink("Xóa", "Index", "AdminMovies")</button>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


