@model PagedList.IPagedList<Turbo_Phim.Models.PhimViewModels>
@using PagedList.Mvc

@{
    ViewBag.Title = "filmNew";
    Layout = null;
}
<div id="filmnew_content">

    @foreach (Turbo_Phim.Models.PhimViewModels p in Model)
    {

        <div class="news-grid">
            <h5>@Html.ActionLink(@p.TenPhim, "Index", "ReviewDetail", new { IDPhim = @p.MaSo }, new { @class = "a" })<br /></h5>
            <label>Dự kiến khởi chiếu: @p.NgayPhatHanh </label>

            <p class="new-content">
                @p.NoiDung.Substring(0, @p.NoiDung.IndexOf(".") + 1)...
            </p>

            <p class="hidden" id="c1">
                @p.NoiDung
            </p>
            <p class="hidden" id="c2">
                @p.NoiDung.Substring(0, @p.NoiDung.IndexOf(".") + 1)...
            </p>

            <a class="more" href="#@p.MaSo">Xem thêm</a>
        </div>
    }
    @Html.PagedListPager(Model, page => Url.Action("filmNew", "Home",
                new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "filmnew_content" }))

</div>


<script>
        $(document).ready(function () {
            $(".more").click(function () {
                var parent = $(this).parent();
                var p = $("p[class='new-content']", parent);
                if ($(this).hasClass("ex")) {
                    var phidden = $("p[id='c2']", parent);
                    p.html(phidden.text());
                    $(this).removeClass("ex");
                }
                else {
                    var phidden = $("p[id='c1']", parent);
                    p.html(phidden.text());
                    $(this).addClass("ex");
                }
            });
        });
</script>


