@model List<Turbo_Phim.Models.PhimViewModels>
    @{
        ViewBag.Title = "filmNew";
        Layout = null;
    }
    @foreach (Turbo_Phim.Models.PhimViewModels p in Model)
    {

        <div class="news-grid">
            <h5>@p.TenPhim</h5>
            <label>Dự kiến khởi chiếu: @p.NgayPhatHanh </label>

            <p class="new-content">
                @p.NoiDung.Substring(0, @p.NoiDung.IndexOf(".") + 1)...
            </p>

            <p class="hidden" id="c1">
                @p.NoiDung
            </p>
            <p class="hidden" id="c2">
                @p.NoiDung.Substring(0, @p.NoiDung.IndexOf(".") + 1)...
            </p>

            <a class="more">MORE</a>
        </div>
    }
    <script>
        $(document).ready(function () {
            $(".more").click(function () {
                var parent = $(this).parent();
                var p = $("p[class='new-content']", parent);
                if ($(this).hasClass("ex")) {
                    var phidden = $("p[id='c2']", parent);
                    p.html(phidden.text());
                    $(this).removeClass("ex");
                }
                else {
                    var phidden = $("p[id='c1']", parent);
                    p.html(phidden.text());
                    $(this).addClass("ex");
                }
            });
        });
    </script>


