
@model List<Turbo_Phim.Models.TopReviewModels>
@using System.Text.RegularExpressions;
    @{
        ViewBag.Title = "showReview";
        Layout = null;
    }

    @foreach (Turbo_Phim.Models.TopReviewModels p in Model)
    {
        p.content = Regex.Replace(p.content, "<.*?>", string.Empty);
        <div class="news-grid">
            <h5> @p.title </h5>
            <label> @p.postDate </label>

            <p class="new-content">
                @p.content.Substring(0, @p.content.IndexOf(".") + 1)...
            </p>

            <p class="hidden" id="c1">
                @p.content
            </p>
            <p class="hidden" id="c2">
                @p.content.Substring(0, @p.content.IndexOf(".") + 1)...
            </p>
            <a class="more"> MORE </a>
        </div>

    }

    <script>
        $(document).ready(function () {
            $(".more").click(function () {
                var parent = $(this).parent();
                var p = $("p[class='new-content']", parent);
                if ($(this).hasClass("exp")) {
                    var phidden = $("p[id='c2']", parent);
                    p.html(phidden.text());
                    $(this).removeClass("exp");
                }
                else {
                    var phidden = $("p[id='c1']", parent);
                    p.html(phidden.text());
                    $(this).addClass("exp");
                }

            });
        });
    </script>



