@model PagedList.IPagedList<Turbo_Phim.Models.TopReviewModels>
@using PagedList.Mvc

    @using System.Text.RegularExpressions;
    @{
        ViewBag.Title = "showReview";
        Layout = null;
    }

    <div id="showReview_content">
        @foreach (Turbo_Phim.Models.TopReviewModels p in Model)
        {
            p.content = Regex.Replace(p.content, "<.*?>", string.Empty);
            <div class="news-grid">
                <h5>@Html.ActionLink(p.title, "Index", "ReviewDetail", new { IDPhim = p.MS_Phim, IDReview = p.MS_ReView }, new { @class = "a" })<br/></h5>

                <label> @p.postDate </label>

                <p class="new-content">
                    @Html.Raw(@p.content.Substring(0, @p.content.IndexOf(".") + 1) + "...");

                </p>

                <p class="hidden" id="c1">
                    @Html.Raw(@p.content);
                </p>
                <p class="hidden" id="c2">
                    @Html.Raw(@p.content.Substring(0, @p.content.IndexOf(".") + 1) + "...");

                </p>
                <a class="more" href="#@p.MS_Phim"> Xem thêm </a>
            </div>

        }

        @Html.PagedListPager(Model, page => Url.Action("showReview", "Home",
                        new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "showReview_content" }))
    </div>
    <script>
        $(document).ready(function () {
            $(".more").click(function () {
                var parent = $(this).parent();
                var p = $("p[class='new-content']", parent);
                if ($(this).hasClass("exp")) {
                    var phidden = $("p[id='c2']", parent);
                    p.html(phidden.text());
                    $(this).removeClass("exp");
                }
                else {
                    var phidden = $("p[id='c1']", parent);
                    p.html(phidden.text());
                    $(this).addClass("exp");
                }

            });
        });
    </script>



